@import 'normalize.css';
@import 'highlight.js/styles/monokai.css';

@custom-media --medium (max-width: 30em);
@custom-media --large (max-width: 60em);
@custom-media --larger (max-width: 80em);

@custom-selector :--githubteaser .jogwheel-teaser;
@custom-selector :--header .jogwheel-header;
@custom-selector :--claim .jogwheel-claim;
@custom-selector :--logo .jogwheel-logo;
@custom-selector :--name .jogwheel-name;
@custom-selector :--navigation .jogwheel-navigation;
@custom-selector :--navigation-list--fixed .jogwheel-navigation-list.jogwheel-navigation-list--fixed;
@custom-selector :--navigationlist .jogwheel-navigation-list;
@custom-selector :--navigationitem .jogwheel-navigation-list b;
@custom-selector :--navigationlink .jogwheel-navigation-list b a;
@custom-selector :--archiveteaser .jogwheel-archive-teaser;

@keyframes pan {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}

:root {
	--primaryColor: rgb(94, 199, 146);
	--primaryDarkColor: rgb(131, 182, 156);
	--backgroundColor: #222;
	--textColor: #efefef;

	--fontCascade: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--sPadding: 20px;
}

* {
	box-sizing: border-box;
}

:root {
	padding: 0;
	margin: 0;
	background: var(--backgroundColor);
	font-family: var(--fontCascade);
	color: var(--textColor);
}

body {
	margin: 0 auto;
	padding: 0 var(--sPadding);
	min-width: 20em;
	max-width: 80em;
	border: 0 solid rgba(255, 255, 255, 0.05);
	border-left-width: 20px;
	border-right-width: 20px;
	box-sizing: content-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: var(--primaryColor);
	transition: .3s color ease-in-out;
}

a:hover,
a:active {
	color: var(--primaryDarkColor);
}

img {
	max-width: 100%;
}

h1[id],
h2[id],
h3[id] {
	margin-top: 80px;
}

hr {
	border: 3px solid rgba(255, 255, 255, 0.05);
	margin-bottom: 0;
	margin-top: 20px;
}

:--githubteaser {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	text-align: center;
	background: #000;
	animation: pan 1s linear;
	animation-play-state: paused;
	animation-fill-mode: forwards;
}

:--githubteaser a {
	display: block;
	padding: 20px;
	transition: .3s background-color ease-in-out;
}

:--githubteaser a:hover {
	background: rgba(255,255,255,.1);
}

:--header	{
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	margin: 0 -var(--sPadding);
	background: var(--primaryColor);
	color: var(--backgroundColor);
}

:--logo {
	position: relative;
	z-index: 1;
	order: 1;
}

:--name {
	position: relative;
	z-index: 1;
	order: 2;
	margin: 0;
	padding: 40px 0 0;
	font-size: 50px;
	color: #fff;
	background: inherit;
}

:--claim {
	position: relative;
	z-index: 1;
	order: 3;
	margin: 0;
	padding: 0 0 60px 0;
	font-size: 25px;
	text-align: center;
	color: #eee;
	background: inherit;
}

:--navigation {
	order: 4;
	color: #fff;
	background: #fff;
}

:--navigation-list--fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
}

:--navigation-list--fixed:after {
	width: 100%;
}

:--navigationlist {
	text-align: center;
	overflow: auto;
	max-width: calc(80em + 40px);
	background: #fff;
	white-space: nowrap;
}

:--navigationlist > * {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	z-index: 1;
	flex-shrink: 0;
}

.:--navigationlist:before {
	content: '';
	width: 50px;
	height: 50px;
	flex-shrink: 0;
}

:--navigationlist:after {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	left: 50%;
	width: 0;
	height: 58px;
	background: #fff;
	transform: translate(-50%, 0);
	transition: width 1s ease-in-out;
}

:--navigationitem {
	flex-grow: 1;
	font-weight: normal;
}

:--navigationlink {
	display: block;
	padding: 20px;
	white-space: nowrap;
}

:--archiveteaser {
	margin: 0 -20px;
	padding: 15px;
	background: white;
	color: #111;
}

a[href="https://saucelabs.com/u/jogwheel-unit"] {
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
}

a[href="https://saucelabs.com/u/jogwheel-unit"] img {
	width: 100%;
}

body > hr:last-of-type {
	display: none;
}

body > p:last-of-type {
	margin-top: 160px;
	margin-bottom: 0;
	margin-left: -var(--sPadding);
	margin-right: -var(--sPadding);
	padding: 20px;
	background: #fff;
	color: var(--backgroundColor);
}

@media (--medium) {
	body {
		border: none;
	}
}
