@keyframes simple {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@keyframes simplebig {
  from, to {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

[data-animated] {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	background: wheat;
	animation: simple 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@media screen and (min-width: 1000px) {
	[data-animated] {
		height: 150px;
		width: 150px;
		animation-name: simplebig;
	}
}
