@keyframes simple {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

[data-animated] {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	background: wheat;
	animation: simple 3s infinite;
	animation-fill-mode: both;
}
