@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}

[data-animated] {
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	background: wheat;
	animation: spin 1s linear;
	animation-iteration-count: 100;
	animation-play-state: paused;
	animation-fill-mode: both;
}

@media screen and (min-width: 1000px) {
	[data-animated] {
		height: 150px;
		width: 150px;
		animation-name: none;
	}
}
